<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<h1 align="center">super sprinter 3000</h1>
<br>
<h3 align="center"><a href="/story">Add new USER STORY</a></h3>
<br>
<br>
<table>
    <tr>
        <th>id</th>
        <th>story title</th>
        <th>user story</th>
        <th>acceptance criteria</th>
        <th>business value</th>
        <th>estimation</th>
        <th>status</th>
    </tr>
    {% for row in user_stories %}
    <tr>
        <td>{{ row['id'] }}</td>
        <td><a href="/story/{{ row['id'] }}">{{ row['title'] }}</a></td>
        <td>{{ row['user_story'] }}</td>
        <td>{{ row['acceptance_criteria'] }}</td>
        <td>{{ row['business_value'] }}</td>
        <td>{{ row['estimation'] }}</td>
        <td>{{ row['status'] }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>